html {
    background-color: rgba(255, 235, 205,0.4);

    
}

h1{
    font-family: 'Oleo Script', cursive;
    font-size: 6rem;
    color: rgba(0, 0, 0, 0.8);
}

.name {
    font-family: 'Oleo Script', cursive;
    font-size: 6rem;
    color: rgba(0, 0, 0, 0.8);
}

.pro {
    font-family: 'Oxygen Mono', monospace;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.5);
}

.grabber {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 1);

}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 1);
    max-width: 70%;
    margin: auto;

}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
  
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }

footer {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;

  }

h2{
    font-family: 'Lato', sans-serif;
    color: rgba(0, 0, 0, 1);
}

h3{
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}

.copyright{
    text-align: left;
}



/* CSS for mobile devices below */

@media screen and (max-width:800px) {
  
  h1{
    font-family: 'Oleo Script', cursive;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.8);
  }

  .name {
    font-family: 'Oleo Script', cursive;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.8);
  }

  .pro {
    font-family: 'Oxygen Mono', monospace;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
  }


  .grabber {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 1);

  }

  body {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 1);
    max-width: 80%;
    margin: auto;

  }

  a:link {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }

  footer {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;

  }

  h2{
    font-family: 'Lato', sans-serif;
    color: rgba(0, 0, 0, 1);
    font-size: 1.3rem;

  }

  h3{
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
  }

  .copyright{
    text-align: right;
  }
  
}

/*
  *{
    border: 1px solid red;
  }
  
*/


